/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    /* DEBUG */
    color: white;
}

img {
    max-width: 100%;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

a, ul {
    text-decoration: none;
    list-style-type: none;
    color: var(--secondary-text)
}


/* VARIABLES */

:root {
    /* colors */
    --bg-header: #080b12;
    --bg-main: #141922;
    --bg-footer: #282828;
    --secondary-text: #7d7f84;
    --light-gray: #a3a3a3;
    --animation: #adff2f;

    /* dimensions */
    --header-height: 80px;
    --footer-height: 90px;
    --sidebar-width: 300px;
}

/* UTILITIES */

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.p-relative {
    position: relative;
}

i {
    color: inherit;
}

/* margin top */
.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-3 {
    margin-top: 3em;
}

.mt-4 {
    margin-top: 4em;
}

/* margin bottom */
.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.mb-3 {
    margin-bottom: 3em;
}

/* typography */

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}


p {
    font-size: 1rem ;
}

/* ANIMATIONS */
/* hover */

/* common */
li a:hover {
    color: white;
}

li i:hover {
    color: white;
}

/* hover HEADER */
header a:hover {
    transform: scale(1.1);
}
/* hover Sidebar */
#sidebar nav a i:hover{
    color: white;
}

.playlist ul span:hover {
    color: white;
}

.sidebar-bottom .install a:hover {
    color: white;
}

/* hover MAIN */
.menu li a:hover{
    color: white;
}

.col img:hover {
    opacity: .4;
}
.cover-album i {
    display: none;
} 
.cover-album:hover i {
    display: block;
}


/* HEADER */
header {
    width: calc(100% - var(--sidebar-width));
    height: var(--header-height);
    background-color:rgba(0,0,0,0.8);
    position: absolute;
    right: 0;
    padding: 1.5em;
}

header .container {
    margin: 0 auto;
    justify-content: flex-end;
}

header a {
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 700;
}

/* Sidebar section */

#sidebar {
    background-color: black;
    width: var(--sidebar-width);
    height: 100vh;
}

#sidebar .container {
    height: calc(100% - var(--footer-height) - 2.5em);
    margin: 2.5em;
    flex-direction: column;
}

/* logo sidebar */
#sidebar img {
    width: 65%;
}
#sidebar .logo-small {
    display: none;
}
/* nav sidebar */
#sidebar ul {
    flex-direction: column;
}
#sidebar li {
    font-size: 1.2rem ;
    font-weight: 600;
    color: var(--secondary-text);
    padding: .5em 0;
    
}
#sidebar i {
    font-size: 1.8rem;
    margin-right: .5em;
    color: var(--light-gray);
}

/* create playlist */
#sidebar i.fa-plus {
    color: black;
    background-color: var(--light-gray);
    padding: .5em;
    margin-right: .5em;
}

/* sidebar bottom */
#sidebar .sidebar-bottom {
    flex-direction: column;
    position: absolute;
    left: 0;
    bottom: 90px;
    margin: 2.5em;
}

#sidebar .install,.profile {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--secondary-text);
}

.sidebar-bottom .install{
    border-bottom: .1em solid var(--secondary-text);
    width: calc(var(--sidebar-width) - 5em);
    padding-bottom: 1em;
}

#sidebar .install i {
    color: var(--secondary-text);
}

#sidebar .profile {
    color: white;
    padding-top: 1em;
}

#sidebar .profile i {
    background-color: var(--secondary-text);
    padding: .2em .3em;
    border-radius: 50%;
}

/* MAIN */

main {
    height: calc(100% - var(--header-height));
    width: calc(100% - var(--sidebar-width));
    background-color: var(--bg-main);
    justify-content: flex-end;
    align-self: flex-end;
    padding: 2em;
    padding-top: var(--footer-height);
    margin-bottom: 90px;
    overflow-y: auto;
}

/* menu */
main .menu ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
    
}
main nav ul li:first-child {
    border-bottom: 2px solid var(--animation);
    padding-bottom: .8em;
}
.menu li a {
    color: var(--secondary-text);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1em;
}


/* recently-played */
.col {
    height: 150px;
    width: 150px;
    justify-content: center;
    margin: 0 2em 6em 0;  
}

.cover-album i {
    font-size: 4.5em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.col .text-album{
    text-align: center;  
}

/* create for u */
.create-for-u p {
    color: var(--light-gray);
    font-weight: 600;
}

/* popular-artists */
.popular-artists .cover-album img {
    object-fit: cover;
    border-radius: 50%;
}

/* FOOTER  */

footer {
    width: 100%;
    height: var(--footer-height);
    background-color: var(--bg-footer);
    position: absolute;
    bottom: 0;
}

/* player-footer */

.player-footer {
    justify-content: space-between;
    flex-wrap: nowrap;
}

/* album */
.album , .audio {
    width: 200px;
    height: var(--footer-height);
}

.album img {
    height: var(--footer-height);
    padding: 2em 1em;
}

footer .text-cover-album {
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}

footer .album p {
    font-size: 1em;
    color: var(--light-gray);
}
footer .album .icon {
    align-items: center;
    margin-left: 2.5em;
}

footer .album i {
    font-size: 1.4em;
    color: var(--light-gray);
    padding: .2em;
}
/* actions */
.actions {
    width: 45%;
    height: var(--footer-height);
    flex-direction: column;
    align-content: center
}

.actions-icon .fa-circle-play{
    font-size: 1.8em;
    vertical-align: middle;
}

.actions-icon {
    font-size: 1.6em;
}

.actions-icon i {
    padding: .5em;
}

/* audio */
.audio {
    align-content: center;
}
.icon-audio i {
    color: white;
    font-size: 1.4em;
    padding: .2em;
}

/* MEDIA QUERIES */
/* small desktop (screen md) - 1100px */

@media screen and (max-width:1100px) {
    .col {
        margin: 0 2em 8em 0;  
    }
}


/* MEDIA QUERIES */ 
/* tablet  (screen s)  - 700px */

@media screen and (max-width:700px) {
    /* MAIN */
    main .menu ul {
        flex-wrap: wrap;
        line-height: 3em;
    }
}


/* MEDIA QUERIES */ 
/* phone  (screen xs)  - 600px */

@media screen and (max-width:600px) {
    /* Sidebar section */
    #sidebar {
        width: 50px;
    }
    #sidebar .container {
        height: 100%;
        margin: .5em;
        align-items: center;
    }
    /* logo */
    #sidebar .container>img {
        display: none;
    }
    #sidebar img.logo-small {
        display: block;
        padding-bottom: 1.5em;
    }
    /* nav */
    #sidebar nav li {
        margin-left: .6em;
    }
    #sidebar nav span {
        display: none;
    }

    /* playlist  and profile */
    .playlist , .sidebar-bottom span  {
        display: none;
    }

    /* profile */
    #sidebar .sidebar-bottom {
        margin-left: 1.2em;
    }
    .sidebar-bottom .install {
        margin-left: .3em;
    }
    .sidebar-bottom .install , .profile {
        border-bottom: none;
        padding-bottom: 0px;
    }
    

    /* MAIN */
    main {
        width: calc(100% - 50px);
    }

    header {
        width: calc(100% - 50px);
    }

    /* recently-played */
    .col {
        height: 200px;
        width: 200px;  
    }

    /* FOOTER */

    /* album */
    .album img {
        height: var(--footer-height);
        padding: 2.7em 1.2em;
    }

    footer .album .icon {
        justify-content: center;
        margin-left: 2.5em;
        flex-direction: column;
    }
}
